<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>All Articles page </h1>
   <hr/>
<div style="background-color:orange;color: black;padding: 20px; ">
    <% for( let article of allarticles) { %>
        <h1 style="background-color: blue;"><%=article.title  %></h1>  
        <br/>
      <h3 style="background-color: aqua;">  <%=article.body  %></h3>
    <hr/>
      <% } %>
      
      </div> 
</body>
</html>