<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h>hello <%=name%></h>
  <p style="background-color: aquamarine;padding: 10px;border-radius: 5px;"> <%=numbers  %>
  </p>
    <% if (name =="Yarob") {%>
<div> name is Yarob </div>
<% } %>
</body>
</html>